body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  background-color: grey;
  align-items: center;
}

#gameContainer{
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: row;
  background-color: grey;
  justify-content: space-around;
}

#board{
  position: relative;
  margin-top: 2%;
  height: 700px;
  width: 600px;
  border: 2px solid black;
  background-color: grey;
  background-image: url("assets/road.jpg");
  background-size: 10%;
  background-repeat: repeat;
  margin-left: 4%;
  overflow: hidden;
  animation: animatedBackground 4s linear infinite;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100%; }
}

.car {
  position: absolute;
  background-image: url("assets/blue-car.png");
  height: 105px;
  width: 52px;
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 50px;
  left: 50%;
}

.obstacle{
  position: absolute;
  background-image: url("assets/red-reverse.gif");
  height: 100px;
  width: 52px;
  background-size: cover;
  /*background-size: contain;*/
  background-repeat: no-repeat;
  top: -200px;
}

#button-div{
  display: flex;
  align-items: center;
  width: 600px;
  height: 150px;
}

button{
  height: 66px;
  width: 150px;
}



